.chats {
  padding-top: 70px;
}

.chat {
  min-width: 200px;
}

.editor {
  position: fixed;
  bottom: 0;
  width: 100vw;
  /* background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity)) !important */
}

.viewer .ql-editor {
  padding: 0;
}

.viewer .ql-container.ql-snow{
  /* padding: 15px;
  margin-top: 0 !important; */
  border: 0;
}


.ql-editor.ql-blank::before {
  color: #444 !important;
}

.ql-snow .ql-editor img {
  max-width: 300px !important;
  width: 100% !important;
}

.viewer .public-DraftEditor-content {
  /* min-height: auto !important; */
}

/* .ql-formats button svg path,line,rect,polyline,circle{
  stroke: #fff !important;
}
.ql-formats button.ql-image svg path,line,polyline{
  fill: #fff !important;
}
.ql-formats button.ql-strike svg path,line{
  fill: #fff !important;
} */
